/** General **/
header{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: #aeaeae;
	font-weight: 700;
	letter-spacing: 0.6em;
	position: fixed;
	top: 60px;
	left: 10px;
	padding-left: 10px;
	padding-right: 25px;
	padding-top: 4px;
	padding-bottom: 1px;
	border-radius: 5px;
	text-align: center;
}

body{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	margin: 0 auto 1em auto;
	background-color: #000000;

}

.nav{
	position: fixed;
	top: 40px;
	left: 20px;
}

.nav ul {
    list-style-type: none;
    margin: 2px;
    padding: 5px;
    background-color: #ffffff;
    width: 150px;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.nav li{
	padding: 3px 0px;
}

a{
	text-decoration: none;
}

.nav a:link {
	color: #006699;
}
.nav a:visited {
	color: #006699;
}
.nav a:hover {
	background-color: #000000;
	color: #99FFCC;
}
.nav a:active {
	color: yellow;
}

.social a:link {
	color: #669999;
	
}
.social a:visited {
	color: #669999;
}

body {
	color: #999;
}

#rb{
	background-image:url('../images/rb_upper.png');
	position: fixed;
	top: 80%;
	left: 70%;
	width: 173px;
	height: 96px;
	opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

#rb:hover{
	opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}