.gallery-label{
	top: -51px;
	position: absolute;
	color: white;
	letter-spacing: 0.2em;
	background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;
	padding: 5px 4px 3px 6px;
}

.gallery-image {
	padding: 10px;
}

.gallery-description {
	p {
		padding: 10px;
	}
	
}