img, svg {
	width: 100%;
	height: auto;
}

a {
	background: rgba(100, 100, 100, 0.9);
	padding: 4px 4px 2px 6px;
	color: #e7e829;

	&:hover {
		color: rgba(100, 100, 100, 0.9);
		background: #e7e829;
	}
}

p {
	color: #8A8A8A;
}

body {
	font-family: $main-font;
}

h1 {
	font-family: $headline-font;
	margin: 0 0;
	line-height: 0;

	&::selection {
		background: #00f;
	}
}

.rblink {
	margin: 0;
	padding: 0;

}